#wrapper {
  position: relative;
  height: 97vh;
  /*background-color: rgb(255, 60, 0);*/
}

.cat_container_back {
  position: absolute;
  border-style: solid;
  top: 40%;
  left: 25%;
  right: 25%;
  height: 20vh;
  background-color: rgb(188, 192, 192);
  display: inline-flex;
}

.btn_container_back {
  position: absolute;
  border-style: solid;
  top: 63%;
  left: 10%;
  right: 10%;
  height: 30vh;
  background-color: rgb(188, 192, 192);
  display: inline-flex;
}

.timer_button {
  position: relative;
  border-style: solid;
  width: 18%;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
}

.timer_button_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#timer {
  position: absolute;
  top: 2%;
  left: 35%;
  right: 35%;
  height: 20vh;
  border-style: solid;
  background-color: rgb(188, 192, 192);
  display: flex;
  align-items: center;
  justify-content: center;
}

.span_timer {
  position: absolute;
  font-size: 6vh;
  text-align: center;
}

#upload_sound {
  position: absolute;
  margin-right: 0.5vw;
  font-size: 90%;
  bottom: 46%;
  left: 10%;
  width: 10%;
  height: 10%;
}

#add_new_meal_form {
  position: absolute;
  height: 20%;
  width: 20%;
  right: 10%;

}

#add_button {
  position: absolute;
  font-size: medium;
  bottom: 46%;
  right: 10%;
  margin-left: 0.5vw;
  width: 10%;
  height: 10%;
}

#prev_button {
  position: absolute;
  margin-right: 0.5vw;
  bottom: 6%;
  left: 2%;
  width: 4%;
  height: 30%;
}

#next_button {
  position: absolute;
  bottom: 6%;
  right: 2%;
  margin-left: 0.5vw;
  width: 4%;
  height: 30%;
}

.arrow {
  position: absolute;
  left: 47.5%;
  top: 30%;
  height: 10%;
}

body {
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

input {
  width: 15%;
  margin: 1%;
}

#add_new_meal_form label{
  margin: 1%;
}

#picture {
  width: 60%;
}

#submit_but {
  width: 98%;
}

#add_new_meal_form {
  position: absolute;
  background-color: azure;
  border-style: solid;
  top: 32.6%;
  right: 2%;
  height: auto;
}

#add_new_meal_form input:focus {
  background-color: rgb(151, 210, 229);
}